* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100%;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
}
.firstwindow {
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
}
.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin: auto;
  position: relative;
  padding-top: 1.3rem;
}
#logosize {
  width: 10rem;
}
#button1 {
  height: 2rem;
  width: 7rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: rgb(237, 241, 245);
  background-color: transparent;
  -webkit-text-fill-color: rgb(235, 235, 235);
}
#button2 {
  /* font-family: "Martel Sans", sans-serif; */
  height: 2rem;
  width: 4.5rem;
  color: rgb(255, 255, 255);
  background-color: red;
  border: 0.5px solid rgb(240, 0, 0);
  border-radius: 4.5px;
}
.bagroundimageclass {
  background-image: url("resorces/bgimage.jpg");
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.44;
}
#logosize {
  position: relative;
  z-index: 10;
}
.buttons {
  position: relative;
  z-index: 10;
}
.middletext {
  display: flex;
  top: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  row-gap: 1rem;
  text-align: center;
}
#texta {
  max-width: 60%;
  font-weight: 900px;
  font-size: 3.5rem;
  -webkit-text-fill-color: rgb(247, 242, 235);
}
#textb {
  font-size: 1.5rem;
  -webkit-text-fill-color: rgb(247, 242, 235);
}
#emailboxsize {
  border: 1px solid rgb(66, 65, 78);
  background-color: transparent;
  width: 26rem;
  height: 3.4rem;
  padding-left: 1rem;
  color: aliceblue;
}
#hello {
  color: aliceblue;
  font-size: 20px;
}
#hello1 {
  color: rgb(255, 255, 255);
  font-weight: 300;
}
#getstartedbox {
  border: 0.2px solid rgb(192, 18, 18);
  width: 12rem;
  height: 3.5rem;
  color: rgb(252, 254, 255);
  background-color: rgb(190, 18, 18);
}

/* second window start */

.secondsection {
  background-image: url("resorces/tranparent.png");
  height: 80vh;
  width: 100%;
  border: 5px solid rgb(53, 47, 47);
}
.secondwindow {
  width: 100%;
  height: 80vh;
  display: flex;
  max-width: 80%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3%;
}
.textinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
#hed {
  -webkit-text-fill-color: rgb(221, 221, 204);
}
#para {
  -webkit-text-fill-color: rgb(221, 221, 204);
}
#hed {
  font-size: 3.5rem;
  font-weight: 900;
}
#para {
  font-size: 1.8rem;
  font-weight: 600;
}
.imagepo {
  width: 520px;
  position: absolute;
  z-index: 10;
}
#videosec {
  position: relative;
  width: 520px;
}

/* third window start */

.thirdWindow {
  background-image: url("resorces/tranparent.png");
  height: 80vh;
  width: 100%;
  border: 3px solid rgb(53, 47, 47);
}
.alignotems {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
#imagesec {
  width: 400px;
}
.textsec {
  -webkit-text-fill-color: rgb(221, 221, 204);
}
#ritextsec {
  font-size: 3.5rem;
  font-weight: 900;
  padding-bottom: 1rem;
}
#ritextpar {
  font-size: 1.3rem;
  font-weight: 600;
}

/* fourth window */

.fourthwindow {
  background-image: url("resorces/tranparent.png");
  height: 80vh;
  width: 100%;
  border: 3px solid rgb(53, 47, 47);
  display: flex;
  align-items: center;
}
.fouralighn {
  display: flex;
  max-width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-right: 6rem;
  padding-bottom: 3.5rem;
}
#imagesec4 {
  width: 500px;
  position: absolute;
  z-index: 2;
}
.textsec4 {
  -webkit-text-fill-color: rgb(221, 221, 204);
}
#vide0sec4 {
  width: 400px;
  padding-top: 2rem;
  padding-left: 5rem;
  position: relative;
}
#ritextsec4 {
  font-size: 3.5rem;
  font-weight: 900;
  padding-bottom: 1rem;
}
#ritextpar4 {
  font-size: 1.68rem;
  font-weight: 500;
}

/* fifth window */

.fifthwindow {
  background-image: url("resorces/tranparent.png");
  height: 80vh;
  width: 100%;
  border: 5px solid rgb(53, 47, 47);
  display: flex;
  align-items: center;
}
.contentsec5 {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parahed5 {
  -webkit-text-fill-color: rgb(221, 221, 204);
}
#imagesec5 {
  width: 520px;
}
#hed5 {
  font-size: 3.5rem;
  font-weight: 900;
  padding-bottom: 1rem;
}
#par5 {
  font-size: 1.68rem;
  font-weight: 500;
}
.sixthwindow {
  background-image: url("resorces/tranparent.png");
  height: auto;
  width: 100%;
  border: 3px solid rgb(53, 47, 47);
}
.containt6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 75%;
  margin: auto;
  -webkit-text-fill-color: rgb(221, 221, 204);
}
#hed6 {
  font-size: 3.5rem;
  font-weight: 900;
}
#six {
  font-size: 1.8rem;
  font-weight: 500;
}
.hedsec6 {
  height: auto;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}
.info {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr;
  gap: 0.3rem;
}
.data6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid black 1px;
  background-color: rgb(88, 84, 85);
  padding: 1.5rem;
}
:hover.data6 {
  background-color: rgb(138, 132, 132);
}
.endsec {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
#para6sec {
  font-size: 1.2rem;
  font-weight: 500;
}
.endinputsec {
  display: flex;
  gap: 0.5rem;
}
#inputsec6 {
  border: 1px solid rgb(66, 65, 78);
  background-color: transparent;
  width: 23rem;
  height: 3.5rem;
  padding-left: 1rem;
}
#getbutto {
  width: 14rem;
  height: 3.5rem;
  border: 1px solid rgb(243, 5, 5);
  background-color: rgb(184, 29, 29);
  border-radius: 2px;
}
.footersection {
  background-image: url("resorces/tranparent.png");
  height: 60vh;
  width: 100%;
  border: 3px solid rgb(53, 47, 47);
}
.footsec {
  max-width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  padding-top: 2rem;
  padding-right: 5rem;
}
#hedfoot {
  width: 47%;
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.impo {
}
#padfootsec {
  padding-bottom: 1rem;
}
#meesup {
  height: 33px;
  width: 125px;
  background: transparent;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(70, 58, 60);
  border-radius: 2px;
}
#meesup1 {
  padding-top: 1rem;
}
@media screen and (max-width: 1300px) {
  .secondwindow {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .alignotems {
    flex-wrap: wrap;
  }
  .fouralighn {
    flex-wrap: wrap;
  }
  .contentsec5 {
    flex-wrap: wrap;
  }
  .alignotems {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .imaegev4 {
    margin: auto;
  }
  .fouralighn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textsec4 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contentsec5 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .endinputsec {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  #hed {
    font-size: 2rem;
    font-weight: 900;
  }
  #para {
    font-size: 1rem;
    font-weight: 600;
  }
  .imagepo {
    width: 400px;
    position: absolute;
    z-index: 10;
  }
  #videosec {
    position: relative;
    width: 400px;
  }
  .thirdWindow {
    background-image: url("resorces/tranparent.png");
    height: 80vh;
    width: 100%;
    border: 3px solid rgb(53, 47, 47);
  }
  #imagesec {
    padding-bottom: 3rem;
    width: 400px;
  }
  #ritextsec {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }
  #ritextpar {
    font-size: 1rem;
    font-weight: 600;
  }

  #imagesec4 {
    width: 400px;
    /* height: 10/11; */
    position: absolute;
    z-index: 2;
  }
  .textsec4 {
    padding-left: 3rem;
    padding-bottom: 2rem;
    -webkit-text-fill-color: rgb(221, 221, 204);
  }
  #vide0sec4 {
    width: 320px;
    height: 300px;
    padding-bottom: 8rem;
    padding-left: 5rem;
    position: relative;
  }
  #ritextsec4 {
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 1rem;
  }
  #ritextpar4 {
    font-size: 1rem;
    font-weight: 500;
  }
}
